* {
	margin: 3px;
	padding: 0px;
    box-sizing: border-box;
    
}

:root {
    --primary-color: #00635D;
    --secondary-color: #08A4BD;
    --accent1-color: #01172F;
    --accent2-color: #446DF6;
    --height-one: auto;
}
body{
    
    font-family: "Geist Mono", serif;
    font-weight: 500;
}
header {
    background-color: var(--secondary-color);
    padding: 10px;
}
body header nav a {
	text-decoration: none;
    font-family: "DM Sans", sans-serif;
    font-weight: 500;
}
header img {  /* River image*/
    width: auto;
    height: var(--height-one);
    padding: 2px;
}

h1 {
    top: 300px;
    
	bottom: 25px;
	left: 0px;
	background: rgba(29, 171, 196, 0.3);
	right: 10px;
	padding: 1rem;
    width: auto;
    height: 5rem;
    margin-top: 2px;
    color: black;
    text-align: center;
    position: absolute;
    
    
}
article img { /* happyclient*/
    
    margin-top: 180px;
    margin-left: 100px;
    left: 900px;
    width: 150px;
    height: 5px;
    float: right;
    position:absolute;
    
    
    
    
}
article p {
    color: black;
    text-align: justify;
    top: 140px;
    margin-right: -610px;
    margin-left: 10px;
    position: absolute;
	
	left: 15px;
    bottom: 3000px;
	background: rgba(29, 171, 196, 0.2);
	
	float: right;
	
    padding: 50px 700px 200px 50px;
    font-family: "DM Sans", sans-serif;
    font-weight: 500;
    
    
}
.hero img {
    display: block;
    width: 100%;
    height: var(--height-one);
    position: relative;
    float: right;
}
section p {
    font-family: "DM Sans", sans-serif;
    font-weight: 500;
}
article {
    position: absolute;
    
}


footer nav a {
    text-decoration: none;
}