:root {
  --heading-background-color: darkblue;
  --height-one: auto;
  --text-align-one: center;
  --border-color-one: 1px solid black;
}
nav {
    background-color: var(--heading-background-color);
    padding: 10px;
}
nav a {
    color: white;
    display: block;
    padding: 20px;
}
h1 {
    color: var(--heading-background-color);
}
main img {
    width: 150px;
    height: var(--height-one);
    border: var(--border-color-one);
    padding: 2px;
    box-shadow: 0 0 30px gray;
}
p {
    padding: 0;
}
main {
    max-width: 840px;
}
aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.2); /* 1️⃣ */
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: var(--text-align-one);
}
aside img {
    width: 200px;
    height: var(--height-one);
}
footer {
    margin-top: 15px;
    border-top: var(--border-color-one);
    text-align: var(--text-align-one);
}